.fondo-medicina-interna {
    background-image: url("../images/medicina-interna3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
   
} 